/* General */
body {
  font-family: Arial, Helvetica, sans-serif;
}

.font-white * {
  color: rgb(244, 255, 255);
}
h2 {
  font-size: large;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}
h3 {
  font-size: small;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}
.bg-blue {
  background-color: rgb(34, 47, 63);
}
.bg-orange {
  background-color: rgb(245, 102, 0);
  color: white;
}
.bg-grey {
  background-color: rgb(233, 237, 238);
}

.bg-light-blue {
  background-color: rgb(54, 71, 89);
}
.bg-white {
  background-color: white;
}
/* Header */
.logo img {
  width: 80px;
  padding: 8px;
}
/* Nav */
nav {
  padding: 5px;
}
nav a {
  text-decoration: none;
  font-size: small;
  padding-left: 10px;
}
/* container */
.container {
  width: 95%;
  margin: 0 auto 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
.gift-cards {
  display: flex;
  justify-content: center;
  font-size: small;
  /* margin-top: 20px; */
  margin-bottom: 20px;
  padding: 5px;
}
.holiday-banner {
  height: 120px;
  background-image: url("../img/bg-image.png");
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}
/* photos */
.shop-link {
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  margin-left: 15px;
  color: rgb(10, 103, 120);
}
.gifts-photos-box {
  margin-top: 40px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-left: 15px;
  padding-bottom: 10px;
}

.gifts-photos {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  max-width: 100%;
  min-width: 100%;
}
.gifts-photos img {
  height: 200px;
  width: 140px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 1px 1px 10px 0px grey; /* offset-x | offset-y | blur-radius | color */
  margin-left: 8px;
  margin-right: 8px;
}
.product-category {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.product-category img {
  max-width: 100%;
  min-width: 100%;
  object-fit: cover;
}

/* footer */
.link-to-top {
  display: flex;
  justify-content: center;
  padding: 15px;
}

footer .logo {
  display: flex;
  justify-content: center;
  padding: 20px;
}
footer .logo img {
  width: 100px;
}
